---
import BaseLayout from "@layouts/BaseLayout.astro";
---
<BaseLayout title="404">
  <div class="text-center">
    <h2 class="mx-auto text-center mb-8 bg-gradient-to-r from-cyan-500 via-cyan-700 to-cyan-900 text-transparent bg-clip-text text-4xl border-b-2 border-cyan-600 font-semibold w-fit">
      Page Does Not Exist
    </h2>
  </div>
</BaseLayout>