---
import ArticleCard from "@components/ArticleCard.astro";
import About from "@components/About.astro";
import Education from "@components/Education.astro";
import Experience from "@components/Experience.astro";
import Skills from "@components/Skills.astro";
import Projects from "@components/Projects.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import config from "src/config";
import { Frontmatter, sortDateDescending, capitalizeString } from "src/misc";

const allPosts = await Astro.glob<Frontmatter>('../pages/blog/articles/*.md');
const posts = sortDateDescending(allPosts.filter((post) => post.frontmatter.draft != true && post.frontmatter.tags.includes('featured'))).slice(0, 3);
const { metaData: { authorName }, social } = config;
---

<BaseLayout title="Suharta Rudra" activeLink="home">

	<section class="flex flex-col sm:flex-row justify-center max-w-[90%] w-[52rem] mx-auto gap-12 mb-48">
		<img width="200" height="200" src="images/profilePic.jfif" alt="avatar"
			class="rounded-md h-fit self-center justify-self-center">
		<div class="flex flex-col flex-wrap flex-grow">
			<h1
				class="text-center bg-gradient-to-r from-purple-500 via-purple-700 to-purple-900 bg-clip-text text-transparent text-5xl mb-[0.7em]">
				Hi there, I'm <span class="font-bold">{authorName}</span></h1>
			<p class="text-center">
				I am deeply passionate about designing innovative solutions that leave a meaningful impact in the dynamic world of technology. Recently, I've been delving deep into the world of tech and am exploring the transformative potential of applying fundamental software engineering principles to make a tangible difference.</p>
			<div class="flex flex-wrap justify-center gap-5 mt-4">
				{social.map(ele => <a class="w-8 h-8 flex scale-1 hover:scale-125 transition-[scale] justify-center" href={ele.link}
					target="_blank" rel="noreferrer noopener">
					<span class="sr-only">{`Link to my ${ele.sr?? capitalizeString(ele.link.replace(/.+\/\/|www.|\..+/g, ''))} account`}</span>
					<Fragment set:html={ele.svg} />
				</a> )}
			</div>
		</div>
	</section>
	<About />
	<br>
	<Experience />
	<br>
	<Skills />
	<br>
	<Projects />
	<br>
	<Education />
</BaseLayout>