<section
	data-testid="about"
	id="about"
	class="flex flex-col items-center justify-center lg:mb-0 lg:h-[50%] lg:flex-row"
>
	<div class="flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/4">
		<h2
			class="mx-auto text-center mb-10 bg-gradient-to-r from-cyan-500 via-cyan-700 to-cyan-900 text-transparent bg-clip-text text-4xl border-b-2 border-cyan-600 font-semibold w-fit">
			About Me
		</h2>
	</div>

	<div class="w-full text-justify lg:w-3/4 mb-10">
		<p>
			My journey so far has led me to a career in software engineering where collaboration, innovation, and creativity thrive. 
			I take pride in my unwavering attention to detail, well-honed analytical skills, sharp critical thinking, and proven 
			ability to navigate intricate problem-solving scenarios.
		</p>
		<ul class="mt-4 space-y-2">
			<li>📚 Currently pursuing a degree in Computer Science at Georgia Tech with a focus in Machine Learning and Data Visualization.</li>
			<li>💻 Experience in various fields, including full-stack development, automations, and backend engineering at ADP, as well as project management at Animal Institute.</li>
			<li>🚀 I'm fueled by a passion for innovation, problem-solving, and the transformative power of software in shaping how we live and work.</li>
		</ul>
	</div>
</section>