<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-[50%] lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/4">
		<h2
			class="mx-auto text-center mb-8 bg-gradient-to-r from-cyan-500 via-cyan-700 to-cyan-900 text-transparent bg-clip-text text-4xl border-b-2 border-cyan-600 font-semibold w-fit">
			About Me
		</h2>
	</div>

	<div class="w-full text-justify lg:w-3/4">
		<p class="mb-2">
			 Recently, I completed an internship at Automatic Data Processing (ADP) as a Software Engineer where I focused on client-centric solutions. I take pride in my unwavering attention to detail, well-honed analytical skills, sharp critical thinking, and proven ability to navigate intricate problem-solving scenarios.
		</p>
		<ul>
			<li>📚 Currently pursuing a degree in Computer Science at Georgia Tech</li>
			<li>🚀 I'm fueled by a passion for innovation, problem solving, and the potential of software changing the change the way we live and work</li>
		</ul>
	</div>
</section>