<h2 class="mx-auto text-center mb-8 bg-gradient-to-r from-cyan-500 via-cyan-700 to-cyan-900 text-transparent bg-clip-text text-4xl border-b-2 border-cyan-600 font-semibold w-fit">
    Projects
</h2>
<section class="projects grid grid-cols-3 gap-4 mx-4">
    <div class="card shadow-2xl rounded-lg p-4">
        <h3 class="text-center text-lg font-semibold">Wildlife911</h3>
        <p class="text-center text-gray-600">Animal Institute Inc.</p>
        <p class="mt-2">
            Worked through the entire Software Development Life Cycle (SDLC) to develop a cross-platform mobile app that streamlines reporting and response coordination for injured wildlife.
            In collaboration with team members, conducted extensive research and requirements gathering, followed by designing wireframes and defining system architecture.
            In the development phase, we worked in 3 week sprints to implement a Go backend server and a React Native frontend, integrating key features such as real-time reporting, rehabber and transporter coordination, and Twilio-powered communication. 
            Prepared the app for handoff to the client, Animal Institute, ensuring maintainability for future updates.</p>
        <a href="https://www.animalinstitute.org" class="text-blue-500 block text-center hover:underline">Learn More</a>
    </div>

    <div class="card shadow-2xl rounded-lg p-4">
        <h3 class="text-center text-lg font-semibold">Prospective College Student's<br> Visualization Tool</h3>
        <p class="text-center text-gray-600">Personal Project</p>
        <p class="mt-2">
            Using a dataset of more than 400+ colleges, I developed a visualization website to display three types of charts using D3.js to help prospective college students find the right college.
        </p>
        <img src="images/d3project.png" alt="college visualization" class="w-full h-auto mt-2">
        <a href="https://srudradev.github.io/Prospective-College-Students-Visualization/" class="text-blue-500 block text-center hover:underline">Check it Out!</a>
        <a href="https://github.com/srudradev/Prospective-College-Students-Visualization" class="text-blue-500 block text-center hover:underline">Github Repo</a>
    </div>

    <div class="card shadow-2xl rounded-lg p-4">
        <h3 class="text-center text-lg font-semibold">Wrapify</h3>
        <p class="text-center text-gray-600">Team Project</p>
        <p class="mt-2">
            Led a team of 4 to develop an Android app that provides Spotify users to see their top 10 artists and songs all year-round. Integrated OpenAI to display personalized user descriptions based on music tastes, audio snippets of top songs, and other cool features.
        </p>
        <a href="https://www.youtube.com/watch?v=ncY-vwuCWs8" class="block text-center">Demo
            <img src="https://img.youtube.com/vi/ncY-vwuCWs8/0.jpg" alt="YouTube Video Thumbnail" class="rounded-lg shadow-md hover:opacity-90 w-60 h-auto mx-auto">
        </a>
        <a href="https://sites.google.com/view/wrapified/wrapify" class="block text-center text-blue-500 hover:underline mt-2">Learn More</a>
    </div>
</section>