<h2 class="mx-auto text-center mb-8 bg-gradient-to-r from-cyan-500 via-cyan-700 to-cyan-900 text-transparent bg-clip-text text-4xl border-b-2 border-cyan-600 font-semibold w-fit">
    Skills
</h2>
<section class="skills">
    <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-cyan-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Java</span>
        <span class="inline-block bg-cyan-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Python</span>
        <span class="inline-block bg-cyan-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">JavaScript</span>
        <span class="inline-block bg-cyan-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">TypeScript</span>
        <span class="inline-block bg-cyan-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Go</span>
        <span class="inline-block bg-cyan-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">C</span>
        <span class="inline-block bg-cyan-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Kotlin</span>
        <span class="inline-block bg-cyan-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">HTML/CSS</span>
        <span class="inline-block bg-cyan-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">SQL</span>
        <span class="inline-block bg-cyan-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">JSON</span>
        
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">React</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">React Native</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Expo</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Flask</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">D3.js</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Next.js</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">JUnit</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Bootstrap</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Git</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">JIRA</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">BitBucket</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Docker</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">AWS Aurora</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Postman</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Selenium</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">APIs</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Cucumber</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">PostgreSQL</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">MySQL</span>
        <span class="inline-block bg-cyan-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Firebase</span>

        <span class="inline-block bg-cyan-400 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Data Analytics & Visualization</span>
        <span class="inline-block bg-cyan-400 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Problem Solving</span>
        <span class="inline-block bg-cyan-400 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">User-Centered Design</span>
        <span class="inline-block bg-cyan-400 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Strategic Planning</span>

        <span class="inline-block bg-cyan-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Investing</span>
        <span class="inline-block bg-cyan-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Visionary</span>
        <span class="inline-block bg-cyan-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Innovative</span>
        <span class="inline-block bg-cyan-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Perseverant</span>
        <span class="inline-block bg-cyan-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Analytical</span>
        <span class="inline-block bg-cyan-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Problem Solver</span>
        <span class="inline-block bg-cyan-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Collaborator</span>
        <span class="inline-block bg-cyan-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Adaptable</span>
    </div>
</section>